
<div style="height:150px; margin-bottom:-15px; margin-left:40px; ">
	<!-- Use javascript to get current size of viewing screen instead -->
	<h1 id="name" style="float:left; margin-left:100px;">
		Matthew Pua
	</h1>

	<div>
		<div class="center navigation" style="float:left; margin-top:50px;">
		
				
				<i class="margin_left"><%= link_to image_tag("/assets/Home_icon_black.png"), root_path %></i>

			
				<i class="margin_left"><%= link_to image_tag("/assets/plus_icon.png"), extra_path %></i>
				
				<i class="margin_left"><%= link_to image_tag("/assets/book_icon.png"), experiences_path %></i>

				<i class="margin_left"><%= link_to image_tag("/assets/phone_icon.png"), contact_path %></i>
			
		</div>
	</div>

	<div style="float:right; width:215px; height:50px; ">
	
		<i> <%= link_to image_tag("/assets//GitHubMark64.png",style:"width:30px; height:30px; background-color:#336699; border-radius:20px; float:right;") %></i>
		<i> <%= link_to image_tag("/assets/google64.png",style:"width:30px; height:30px;background-color:#336699; border-radius:40px; float:right;"), "mailto:mattpua49@gmail.com" %> </i>
		<i> <%= link_to image_tag("/assets/LinkedIn60.png",style:"width:30px; height:30px;background-color:#336699; float:right;")%></i>
		<i> <%= link_to image_tag("/assets/fb50.png", style:"width:30px; height:30px;background-color:#336699; float:right;") %> </i>
	</div>
</div>

<div class="white border_30" style="margin-left:-50px; width:1600px;">
	<h2  class="border_30 font_30">
		<%= @description %>
	</h2>
<!--	<% if !current_page?(root_path)%>
		<div class="white overflowHidden border_30 border3Black arrowLeft">
			<%= link_to image_tag("/assets/arrowLeft.png", ) , @prevLink %>
		</div>
	<% end %>
	<% if !current_page?(contact_path) %>
		<div class="white overflowHidden border_30 border3Black arrowRight">
			<%= link_to image_tag("/assets/arrowRight.png") , @nextLink %>
		</div>
	<% end %>-->

	
</div>
