<!DOCTYPE html>
<html class="blue">
	<head>
		<header>
		  <link href='http://fonts.googleapis.com/css?family=Oswald&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		  <link href='http://fonts.googleapis.com/css?family=Dosis&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		  <link href='http://fonts.googleapis.com/css?family=Arvo&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		  <link href='http://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		  <%= render :partial => 'layouts/shared/header' %>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		</header>
	</head>
	<body style="overflow-x:hidden;">
		
			<%= yield %>
		
		
		<footer>
			<%= render :partial => 'layouts/shared/footer' %>
		</footer>
	</body>

</html>

